# ignore some files
api_returns.py
api_test.py

__pycache__
__init__.pyc
.python-version

*.DS_Store
*.env
*.env.*
*.pyc
*.swp

*.egg-info/
.idea/
.terraform/
build/
dist/
test/

# ignore some directories
docs/build

